---
title: "Notebook - test"
format: 
  html:
    code-fold: true
jupyter: python3
---

In [6]:
import pandas as pd
from IPython.display import Markdown
test_csv = pd.read_csv("test_csv.csv")
test_csv = test_csv.tail()
Markdown(test_csv.to_markdown(index=False))

| Date                      |    Open |    High |     Low |   Close |    Volume |   Dividends |   Stock Splits |
|:--------------------------|--------:|--------:|--------:|--------:|----------:|------------:|---------------:|
| 2024-05-09 00:00:00+02:00 | 11112.7 | 11121.9 | 11004.9 | 11050.1 | 212325300 |           0 |              0 |
| 2024-05-10 00:00:00+02:00 | 11045.9 | 11137.7 | 11045.1 | 11105.5 | 155650400 |           0 |              0 |
| 2024-05-13 00:00:00+02:00 | 11104.2 | 11152   | 11073.9 | 11152   | 106337500 |           0 |              0 |
| 2024-05-14 00:00:00+02:00 | 11180.5 | 11246.3 | 11138.4 | 11239.3 | 137103300 |           0 |              0 |
| 2024-05-15 00:00:00+02:00 | 11260.9 | 11377   | 11260.3 | 11362.8 | 159465788 |           0 |              0 |

In [4]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9